body {
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 0px;
  margin: 0px;
  background-color: #d1b25b;
  color: #412126;
  font-weight: bold;
}

header {
  width: 100vw;
  min-height: 10vh;
  background-color: #885742;
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;
  top: 0;
  color: black;
}

.createBookCard {
  border: 2px solid black;
  border-radius: 2vw;
  display: flex;
  justify-content: center;

  margin-top: 11vh;
}

#bookCardInputs {
  display: grid;

  grid-template-columns: repeat(1, 45vw);

  border: 5px solid #412126;
  border-radius: 2vw;
  background-color: #b68552;
  max-width: 26vw;
  min-height: 45vh;
  max-height: 45vh;
  font-size: x-large;
  align-items: center;
  padding: 1vw;
  margin: 1vw;
}

#bookCardInputs div {
  max-width: 25vw;
  max-height: 40vh;
  padding: 1vh;

  /* text-align: end; */
  justify-content: baseline;
  align-content: center;
}

.titleInput,
.authorInput,
.pagesInput {
  text-align: end;
}

#bookTitle,
#authorText,
#numPages {
  min-height: 3vh;
  min-width: 12vw;
  color: #412126;
}

.createBookCard div div {
  text-align: center;
  min-height: 5vh;
  /* border: 2px solid red; */

  background-color: #b68552;
}

/* .bookCardInputs {
  border: 20px solid black;
  width: 20vw;
  height: 30vw;
  background-color: black;
} */

#isReadBtn {
  align-items: center;
  background-color: lightgreen;
  border-radius: 20px;
  width: 10vw;
  margin: 2vw;
}

#submitBtn {
  align-items: end;
  background-color: khaki;
  border-radius: 2vw;
  width: 10vw;
  min-height: 4vh;
  margin: 2vw;
  justify-content: center;
  border: 2px solid black;
}

#submitBtn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

#results {
  border: 2px solid red;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-gap: 2vw;
  min-height: 100vh;
}

.bookCard {
  min-width: 20vw;
  max-height: 30vh;
  min-height: 50vh;
  border: 2px solid black;
  background-color: #b68552;
  border-radius: 2vw;
  padding: 1vw;
  margin: 1vw;

  /*display: grid;
  grid-template-columns: repeat(1, 20vw);
   align-items: center; */
}

.bookCard p {
  min-width: 20vw;
  min-height: 3vh;
  border: 2px solid green;
  border-radius: 9px;
  padding: 1vw;
  margin: 1vw;
  font-size: x-large;
}

.titleName {
  border: 2px solid green;
  padding: 1vw;
  margin: 1vw;
  font-weight: bolder;
}

.authorName {
  padding: 1vw;
  margin: 1vw;
  border: 2px black solid;
}

.pagesNum {
  padding: 1vw;
  margin: 1vw;
  border: 2px black solid;
}

.readYet {
  min-width: 15vw;
  font-size: large;
  background-color: lightgreen;
  padding: 1vw;
  margin: 1vw;
  border: 2px black solid;
  justify-content: center;
}

.notRead {
  min-width: 15vw;
  font-size: large;
  background-color: lightcoral;
  padding: 1vw;
  margin: 1vw;
  border: 2px black solid;
}

.trashCard {
  min-width: 5vw;
  min-height: auto;
  font-size: large;
  padding: 1vw;
  margin: 1vw;
  border: 2px black solid;
}

.trashCard:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.contact {
  padding: 1vw;
  font-size: larger;
  font-weight: bold;
}

.contact a {
  text-decoration: none;
  color: black;
}

i {
  font-size: x-large;
}

#gitHubIcon {
  transition: transform 0.3s ease-in-out;
}

#gitHubIcon:hover {
  transform: rotate(360deg) scale(1.2);
}
