body {
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 0px;
  margin: 0px;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: bisque;
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;
  top: 0;
}

.createBookCard {
  border: 2px solid black;
  justify-content: center;
  display: grid;

  grid-template-columns: repeat(1, 45vw);

  margin-top: 11vh;
}

.createBookCard div {
  text-align: center;
  min-height: 5vh;
  border: 2px solid red;
}

#isReadBtn {
  align-items: center;
  background-color: lightgreen;
  border-radius: 20px;
  width: 10vw;
  margin: 2vw;
}

#submitBtn {
  align-items: center;
  background-color: khaki;
  border-radius: 20px;
  width: 10vw;
  margin: 2vw;
}

#results {
  border: 2px solid red;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-gap: 2vw;
  min-height: 100vh;
  margin-top: 11vh;
}

.bookCard {
  min-width: 20vw;
  max-height: 30vh;
  min-height: 50vh;
  border: 2px solid black;
  padding: 1vw;
  margin: 1vw;
  /*display: grid;
  grid-template-columns: repeat(1, 20vw);
   align-items: center; */
}

.bookCard p {
  min-width: 20vw;
  min-height: 3vh;
  border: 2px solid green;
  border-radius: 9px;
  padding: 1vw;
  margin: 1vw;
}

.titleName {
  border: 2px solid green;
  padding: 1vw;
  margin: 1vw;
}

.authorName {
  padding: 1vw;
  margin: 1vw;
  border: 2px black solid;
}

.pagesNum {
  padding: 1vw;
  margin: 1vw;
  border: 2px black solid;
}

.readYet {
  min-width: 15vw;
  font-size: large;
  background-color: lightgreen;
  padding: 1vw;
  margin: 1vw;
  border: 2px black solid;
  justify-content: center;
}

.notRead {
  min-width: 15vw;
  font-size: large;
  background-color: lightcoral;
  padding: 1vw;
  margin: 1vw;
  border: 2px black solid;
}

.trashCard {
  min-width: 5vw;
  min-height: auto;
  font-size: large;
  padding: 1vw;
  margin: 1vw;
  border: 2px black solid;
}
